/* <!-------------- Fonts --------------> */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: 
    #575757;
}
p{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

/* <!-------------- Common Styles --------------> */


/* <!-------------- Header Section For Styles --------------> */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    width: 600px;
    height: 455px;
}
.heading h1{
    font-weight: 700;
    font-Size: 60px;
    Line-height: 78px;
    margin-bottom: 40px;
}
.heading p{
    width: 520px;
    margin-bottom: 49px;
}
.link-button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color:#FFFFFF;
    padding: 20px 30px;
    background-image: linear-gradient(0.25turn, #FBA24F, #FF1E1E);
    border-radius: 50px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}
.main-image img{
    Width: 650px;   
    Height: 748px;
    margin: 82px 50px 72px 32px;
}
/* <!-------------- Header Section End --------------> */

/* <!-------------- About Section For Styles --------------> */
.woman-image img{
    width: 338px;
    height: 536px;
    margin-top: 64px; 
    margin-right: 180px;
}
.about-me h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.about-me p{
    width: 600px;
    margin-bottom: 90px;
}
.background-banner{
    background-image: url(images/background-image.png);
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
}
/* <!-------------- About Section End --------------> */

/* <!-------------- My Recipies Section For Styles --------------> */
.my-recipies h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.my-recipies p{
    width: 706px;
    padding: 0 600px;
    margin-bottom: 38px;
    text-align: center;
}
.food-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 54px;
    justify-content: center;
    align-items: center;
    margin: 0 290px;
}
.food-item{
    width: 357px;
    height: 508px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.food-items img{
    width: 357px;
    height: 256px;
    margin-bottom: 40px;
    border-radius: 16px;
}
.food-item h4{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
}


/* <!-------------- Footer Section For Styles --------------> */
footer{
    height: 256px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 92px;
    background-color: #0B0D17;
    
}
footer h3{
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 37px;
    margin-bottom: 37px;
}
.orange{
    background: -webkit-linear-gradient(#FBA24F, #FF1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* <!-------------- Responsive For Mobile Devices --------------> */

@media only screen and (max-width: 688px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}
